*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Shantell Sans', cursive;
  display: flex;
  justify-content: center;
  align-items:center;
  border: 5px skyblue solid;
  height: 100vh;
}

.container {
  width: 960px;
}

.row {
  display:flex;
  justify-content: space-between;
}

.row-center {
  display:flex;
  justify-content: center;
}

.button {
  margin-top: 10px;
  color: rgb(241, 159, 51);
  border: 1px sienna solid;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.mb{
  margin-bottom: 10px; 
}

.centered{
  text-align: center; 
}

.player-card {
  border: thin rgb(81, 163, 196) solid;
  width: 49%;
}

.computer-card {
  border: thin rgb(81, 163, 196) solid;
  width: 49%;
}

.outcome-card {
  border: thin red solid;
  background-color: pink;
  width: 66%;
}

.one-third{
  width: 32%; 
  margin: auto; 
}
